{%  extends 'crudrh/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Candidatos</h5>
					<td><a class="btn btn-success" href="http://127.0.0.1:8000/create_candidatos">Crear<span class="sr-only">(current)</span></a></td>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Cedula</th>
							<th>Nombre</th>
							<th>Puesto</th>
              <th>Salario</th>
						</tr>

						{% for i in candidatos %}
							<tr>
								<td>{{i.cedula}}</td>
								<td>{{i.nombre_candidato}}</td>
								<td>{{i.puesto_aspiracion}}</td>
                <td>{{i.salario_aspiracion}}</td>
								<td><a class="btn btn-info" href= "http://127.0.0.1:8000/update_candidatos/{{ i.id }}">Actualizar<span class="sr-only">(current)</span></a></td>
								<td><a class="btn btn-danger" href="http://127.0.0.1:8000/delete_candidatos/{{ i.id }}">Eliminar<span class="sr-only">(current)</span></a></td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}