{%  extends 'crudrh/main.html' %}
{% load static %}

{% block content %}
<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Competencias</h5>
				<td><a class="btn btn-success" href="http://127.0.0.1:8000/create_competencias">Crear<span class="sr-only">(current)</span></a></td>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Descripcion</th>
						<th>Estado</th>
					</tr>

					{% for i in competencias %}
						<tr>
							<td>{{i.descripcion}}</td>
							<td>{{i.estado}}</td>
							<td><a class="btn btn-info" href= "http://127.0.0.1:8000/update_competencias/{{ i.id }}">Actualizar<span class="sr-only">(current)</span></a></td>
							<td><a class="btn btn-danger" href="http://127.0.0.1:8000/delete_competencias/{{ i.id }}">Eliminar<span class="sr-only">(current)</span></a></td>
							</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

{% endblock content %}